/* Write CSS code below */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* media queries */
@media screen and (min-width: 674px) {
  .main-content {
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    width: 90%;
  }
}



/* .main-content {
  display: grid;
  grid-template-columns: 300px 700px;
  min-height: 1000px;
  width: 90%;
} */

@media screen and (max-width: 674px) {
    .main-content {
      grid-template-columns: repeat(1, 1fr);
      min-height: 1000px;
    }
  }

.left-section {
  background-color: wheat;
  grid-column: span 1;
}

.left-content {
  padding: 1rem;
}

/* profile image */
.left-content .profile-image {
  width: 60%;
  display: block;
  margin: auto;
  border: 5px solid white;
  border-radius: 30%;
}

/* name here */
.left-content .name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.02px;
  padding: 0.8rem;
}

/* Designation here */
.left-content .designation {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

/* Description here */
.left-content .description {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

/* social media here.. */
.social-media {
  display: flex;
  justify-content: space-around;
}

.p-d-ele {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.6rem;
  padding: 1rem 0.5rem;
}

/* skills starts here */
.skill {
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
}
.skill-name {
  font-size: 0.65rem;
  font-weight: 700;
  text-align: left;
  padding-bottom: 0.5rem;
}
.progress-bar {
  border: 1px solid white;
  height: 4px;
  margin-bottom: 0.8rem;
  background-color: #2d2d22;
}

/* left part over here... */

.right-section {
  background-color: yellowgreen;
  grid-column: span 1 / span 2;
  width: 90%;
}
.right-main-content {
  padding: 2rem 3rem;
}

.right-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  letter-spacing: 1px;
}

/* education grid here.. */
.education-content {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 20px;
}
.edu-div {
  padding-bottom: 1rem;
}

.inst-name {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.inst-desp {
  font-size: 0.8rem;
}

.field,
.percentage {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
}
.year {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
}

/* experience starts here... */
.experience-content {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 20px;
}

/* projects start here. */
.project ul,
li {
  list-style: disc;
}

/* media queries */
